.cart {
  display: flex;
  flex-direction: row;
  justify-content: center;

  &__summary__container {
    margin-left: 20px;
    width: 300px;
    height: 500px;

    &-div {
      margin: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &__summary {
        font-size: 30px;
      }

      &__price {
        margin: 10px 0;
      }
    }
  }
}
