@import '../../styles/colors';

.colorButton {
    width: 40px;
    height: 40px;
    border: 1px solid $dark-gray;
    border-radius: 100%;
    cursor: pointer;

    margin: 10px 5px; 

    &_active {
        border: 3px solid $dark-green;
    }
}