@import 'fonts';
@import 'colors'; 
@import 'listElement';
@import 'cartElement';
@import 'cartSummary';
@import 'cartList';


@import 'header';

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: $dark-gray;
}

body {
    height: 100vh;
    box-sizing: border-box;
    width: 70%;
    margin: 0 auto;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}